*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 241, 239);
}
.titulo{
    text-align: center;
    background-color: rgb(51, 75, 85);
    color: white;
    height: 50px;
}
.flor{
    position: relative;
    top: 100px;
    left: 50px;
}
.flor:hover{
 border-color: rgb(115, 133, 141);
}
.regis{
    position: relative;
    bottom:90px;
    left: 235px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.regis:hover{
    background: rgb(31, 3 ,155);
    color: rgb(255, 255, 255);
}
.iguape{
    position: relative;
    bottom:90px;
    left: 275px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.iguape:hover{
    background: rgb(0, 78, 10);
    color: rgb(255, 255, 255);
}
.iguape-img{
    position: relative;
    top: 100px;
    left: 100px;
}
.juquia-img{
    position: relative;
    top: 100px;
    left: 150px;
}
.juquia{
    position: relative;
    bottom:90px;
    left: 330px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.juquia:hover{
    background-color: rgb(255, 174, 0);
    color: white;
}
.eldorado{
    position: relative;
    top: 129px;
    right: 835px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.eldorado-img{
    position: relative;
    top: 130px;
    left: 140px;
}
.eldorado:hover{
    background-color: rgb(238, 255, 0);
    color: white;
}
.cananeia{
    position: relative;
    bottom:60px;
    left: 350px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.cananeia-img{
    position: relative;
    top: 130px;
    left: 165px;
}
.cananeia:hover{
    background-color: rgb(104, 12, 9);
    color: white;
}
.pariquera{
    position: relative;
    bottom:60px;
    left: 370px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.pariquera-img{
    position: relative;
    top: 130px;
    left: 184px;
}
.pariquera:hover{
    background-color: rgb(0, 255, 64);
    color: white;
}
.miracatu{
    position: relative;
    top: 160px; 
    right: 800px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.miracatu-img{
    position: relative;
    top: 162px;
    left: 140px;
}
.miracatu:hover{
    background-color: rgb(119, 0, 255);
    color: white;
}
.ilha{
    position:relative;
    bottom: 28px;
    left: 335px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.ilha-img{
    position: relative;
    top: 162px;
    left: 115px;
}
.ilha:hover{
        background-color: rgb(184, 166, 166);
        color: white;
}
.sete{
    position:relative;
    bottom: 28px;
    left: 315px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.sete-img{
    position: relative;
    top: 165px;
    left: 114px;
}
.sete:hover{
    background-color: brown;
    color: white;
}
.jacupiranga{
    position:relative;
    top: 195px;
    right: 80px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.jacupiranga-img{
    position: relative;
    top: 197px;
    left: 940px;
}
.jacupiranga:hover{
        background-color: rgb(223, 216, 216);
        color: white;
}
.cajati{
    position:relative;
    top: 5px;
    left: 370px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.cajati-img{
    position: relative;
    top: 195px;
    left: 200px;

}
.cajati:hover{
    background-color: olive;
    color: white;
}
.pedro{
    position: relative;
    top: 5px;
    right: 425px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.pedro-img{
    position: relative;
    top: 195px;
    right: 650px;
}
.pedro:hover{
    background-color: rgb(168, 47, 138) ;
    color: white;
}
.itariri{
    position: relative;
    top: 230px;
    right: 815px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.itariri-img{
    position: relative;
    top: 230px;
    left: 140px;
}
.itariri:hover{
    background-color: coral;
    color: white;
}
.barra{
    position: relative;
    top: 40px;
    left: 330px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.barra-img{
    position: relative;
    top: 230px;
    left: 105px;
}
.barra:hover{
    background-color: darkblue;
    color: white;
}
.iporanga{
    position: relative;
    top: 40px;
    left: 325px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.iporanga-img{
    position: relative;
    top: 230px;
    left: 133px;
}
.iporanga:hover{
    background-color: peru;
    color: white;
}
.apiai{
    position: relative;
    top: 265px;
    right:830px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.apiai-img{
    position: relative;
    top: 270px;
    left: 140px;
}
.apiai:hover{
    background-color: rgb(205, 63, 193);
    color: white;
}
.itaoca{
    position: relative;
    top: 80px;
    left: 370px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.itaoca-img{
    position: relative;
    top: 270px;
    left: 197px;
}
.itaoca:hover{
    background-color:black ;
    color: white;
}
.ribeira{
    position: relative;
    top: 80px;
    left: 420px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.ribeira-img{
    position: relative;
    top: 270px;
    left: 240px;
}
.ribeira:hover{
    background-color: greenyellow;
    color: white;
}
.chapeu{
    position: relative;
    top: 300px;
    right: 575px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.chapeu-img{
    position: relative;
    top: 300px;
    left: 350px;
}
.chapeu:hover{
    background-color: darkcyan;
    color: white;
}
.itapi{
    position: relative;
    top: 110px;
    left:550px;
    font-size: 25px;
    background: rgb(51, 75, 85);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 60px;
}
.itapi-img{
    position: relative;
    top: 300px;
    left: 350px;
}
.itapi:hover{
    background-color: rgb(255, 0, 191);
    color: white;
}
.pé{
    background-color: rgb(51, 75, 85);
    position: relative;
    top: 295px;
    color: white;
    text-align: center;
    font-size: 15px;
}

